{% extends "base.html" %}
{% block title %} Register Account {% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="card text-center">
        <div class="card-header">
            <h3 class="card-title">Register Account</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <a href="{{ url_for('auth.registerPatient') }}" class="btn btn-secondary btn-lg btn-block">Register Patient Account</a>
            </div>
            <div class="mb-3">
                <a href="{{ url_for('auth.registerTherapist') }}" class="btn btn-secondary btn-lg btn-block">Register Therapist Account</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}