{% extends "base.html" %}
{% block title %} Register Account {% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        <h3>Register Account</h3>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name..." />
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname...">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email...">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password..." />
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2"
                placeholder="Confirm Password..." />
        </div>
        <div class="form-group">
            <label for="therapistList">Please select the name of your therapist:</label>
            <select name="therapistList" id="therapistList">
                {% if therapist_list %}
                    {% for therapist in therapist_list %}
                        <option value="{{ therapist.id }}">{{therapist.first_name}} {{therapist.surname}}</option>
                    {% endfor %}
                {% else %}
                    <option value="noneAvailable">No Therapists Currently Available</option>
                {% endif %}
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" name="submitRegister" value="SubmitRegister">Submit</button>
    </form>
</div>

{% endblock %}