{% extends "base.html" %}
{% block title %} Therapist Dashboard {% endblock %}

{% block content %}

<h3> Welcome to your dashboard, {{therapist}}.</h3>

<div id="patientInfo">
    <table id="patientsTable">
        <thead>
            <tr>
                <th data-data="Patient Name">Patient Name</th>
                <th data-data="Patients Email">Patients Email</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>
                    <a href="{{ url_for('admin.patientData', user_id=patient.id) }}">{{ patient.first_name }} {{
                        patient.surname }}</a>
                </td>
                <td> {{ patient.email}} </td>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#patientsTable').DataTable({
            "columns": [
                { "data": "Patient Name" },
                { "data": "Patients Email" },
            ]
        });
    });
</script>
{% endblock %}