{% extends "navbar.html" %}

{% block title %} Patient Details {% endblock %}

{% block content %}

<h3> Patient: {{patient.first_name}} {{patient.surname}} </h3>

<h5> Patients Recent Sessions: </h5>
<table>
    <tr>
        <th>Session ID</th>
        <th>Time of Session</th>
        <th>User ID</th>
        <th>Emotions</th>
    </tr>
    {% for session in sessions %}
    <tr>
        <td>{{ session.id }}</td>
        <td>{{ session.time_of_session }}</td>
        <td>{{ session.user_id }}</td>
        <td>
            {% for emotion in session.emotion_data %}
            {{ emotion.emotion_type }} ({{ emotion.emotion_instances }} instances)<br>
            {% endfor %}
        </td>
        <td>
            <canvas id="pieChartCanvas{{ loop.index }}" width="340" height="280"></canvas>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}