{% extends "base.html" %}

{% block title %} Patient Details {% endblock %}

{% block content %}

<h3> Patient: {{patient.first_name}} {{patient.surname}} </h3>

<div class="container">
    <div class="card-group d-flex flex-wrap">
        {% for session in sessions %}
        <div class="card mb-3 d-inline-block" style="width: 18rem;">
            <canvas id="pieChartCanvas{{ loop.index }}" width="340" height="200"></canvas>
            <div class="card-body">
                <h5 class="card-title">Data and Time of Session: {{session.time_of_session}}</h5>
                {% for emotion in session.emotion_data%}
                <p class="card-text">{{emotion.emotion_type}} ({{emotion.emotion_instances}} instances)</p>
                {% endfor %}
                <button id="reviewSession" type="button" class="btn btn-primary">Review Session Further</button>
                <br />
                <button id ="deleteSession" type="button" class="btn btn-secondary mb-3">Delete Session Data</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>

{% for session in session_data %}

<script>
    var ctx = document.getElementById("pieChartCanvas{{ loop.index }}").getContext('2d');
    var sessionData = {{ session["emotions_count"] | tojson }};

    createPieChart(ctx, sessionData);
</script>

{% endfor %}

{% endblock %}