{% extends "base.html" %}
{% block title %} FER Model {% endblock %}

{% block content %}
<h1> {{name}} </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1> FER Model </h1>
            <div class="webcam">
                <video id="video" width="640" height="480" autoplay></video>
                <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
            </div>
            <button id="snap" type="button" class="btn btn-dark">Start Session</button>
            <button id="stop" type="button" class="btn btn-dark">Stop Session</button>
            <button class="btn btn-dark dropdown-toggle" type="button" id="selectSessionLength"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Session Length
            </button>
            <div class="dropdown-menu" aria-labelledby="selectSessionLength" id="sessionLengthDropdown">
                <a class="dropdown-item" href="#">30 Minutes</a>
                <a class="dropdown-item" href="#">60 Minutes</a>
            </div>
        </div>
        <div class="col-md-6">
            <h2> Emotional Analysis </h2>
            <h4 id="mostCommon">Your Most Common Emotion: </h4>
            <h4 id="emotionScore">Your Emotion Score is: </h4>
            <div class="results" id="results"></div>
            <canvas id="pieChartCanvas" width="640" height="480"></canvas>
        </div>
    </div>
</div>

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>
<script src="{{ url_for ('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for ('static', filename='js/prediction.js') }}"></script>

{% endblock %}