{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}

{% block head %}

<style>
    .card {
        background-color: #212429;
    }
</style>

{% endblock %}

{% block content %}

<h3>{{ user.first_name }}'s User Profile </h3> <br />

<h4> Your current therapist is: {{user.therapist}} </h4>

<div class="row">
    <!-- Table of users latest sessions -->
    <div class="col-6">
        <table id="sessionsTable">
            <thead>
                <tr>
                    <th>Time of Sessons</th>
                </tr>
            </thead>
            <tbody>
                {% for session in allSessions %}
                <tr>
                    <td> <a href="{{ url_for('main.displayPreviousData', user_id=current_user.id) }}"></a>{{ session.time_of_session }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Card displaying latest user session -->
    <div class="col-6">
        <div class="card-group d-flex flex-wrap">
            <div class="card mb-3 d-inline-block" style="width: 18rem;">
                <canvas id="mostRecentSession" width="340" height="200"></canvas>
                <div class="card-body">
                    <h5 class="card-title">Date and Time of Session: </h5>
                    <h5> {{ latestSession.time_of_session }} </h5>
                    {% for emotion in recentSessionEmotions.emotion_data %}
                    <p class="cardt-text"> {{ emotion.emotion_type }} ({{ emotion.emotion_instances }}) </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>

<script>
    var ctx = document.getElementById('mostRecentSession').getContext('2d');

    var sessionData = {{ recentSessionEmotions | tojson }};

    createPieChart(ctx, sessionData);
</script>

{% endblock %}