{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.css') }}">

{% endblock %}

{% block content %}

<h3>{{ user.first_name }}'s Patient Profile </h3> <br />

{% if allSessions %}

<div class="row">
    <div class="col-6">
        <div class="card-group d-flex flex-wrap">
            <div class="card mb-3 d-inline-block">
                <h4 class="card-title"> Current PHQ-9 Score Information </h4>
                <div class="card-body">
                    <h5 class="card-title"> Current Score: {{user.phq9_score}} </h5>
                    <p> {{ message }} </p>
                    {% if emotion_score %}
                        {% if emotion_score == "Positive" %}
                        <p> The images captured when you took the questionnaire point to a positive emotional state. This indictaes are less likely
                            to be depressed, however if you have a high PHQ-9 score further action may still be required. </p>
                        {% elif emotion_score == "Neutral" %}
                        <p> The images captured when you took the questionnaire point to a neutral emotional state. This indicates a neutral attitude during the questonnaire, which could be taken either way. If a 
                            high PHQ-9 score is also present, it is possible you could have depression but if it is low then it may be unlikely that you do.
                        </p>
                        {% else %}
                        <p> The images captured when you took the questionnaire point to a negative emotional state. A negative attitude during the session could be a further indication of depression, especially if your
                            PHQ-9 score is high. If that is the case you are advised to seek a medical professional about this issue.
                        </p>
                        {% endif %}
                    {% else %}
                    <p> No emotional score data found. </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <table id="tableDetails">
            <thead>
                <tr>
                    <th> Session Date and Time </th>
                    <th> Overall Emotional Score </th>
                    <th> Further Details </th>
                </tr>
            </thead>
            <tbody>
                {% for session in allSessions %}
                <tr>
                    <td> {{ session.time_of_session }} </td>
                    <td> {{ session.emotional_score }} </td>
                    <td>
                        <a href="{{ url_for('main.specific', id=session.id) }}">
                            <button type="button" class="btn btn-secondary">View Further Details</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <div class="card-group d-flex flex-wrap">
            <div class="card mb-3 d-inline-block" style="width: 18rem;">
                <h5 class="card-title">Your Most Recent Session: </h5>
                <canvas id="mostRecentSession" width="340" height="200"></canvas>
                <div class="card-body">
                    <h5 class="card-title">Date and Time of Session: </h5>
                    <h5> {{ latestSession.time_of_session }} </h5>
                    {% for emotion, count in recentSessionEmotions.items() %}
                    <p class="cardt-text"> There were {{ count }} instances of {{ emotion }} during this session.
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<h4> You currently have no session data related to your account for you to view. Please conduct at least one therapy
    session for data to appear here.</h4>

{% endif %}

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatable.js') }}"></script>

<script>
    var ctx = document.getElementById('mostRecentSession').getContext('2d');

    var sessionData = {{ recentSessionEmotions | tojson }};

    createPieChart(ctx, sessionData);
</script>

{% endblock %}