{% extends "base.html" %}
{% block title %} Profile Page {% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.css') }}">

{% endblock %}

{% block content %}

<h3>{{ user.first_name }}'s Previous Sessions </h3> <br />

{% if allSessions %}

<div class="row">
    <div class="col-6">
        <div class="card-group d-flex flex-wrap">
            <div class="card mb-3 d-inline-block">
                <h5 class="card-title"> PHQ-9 </h5>
                <div class="card-body">
                    <h5 class="card-title"> Current Score: {{user.phq9_score}} </h5>
                    <p> {{ message }} </p>
                </div>
            </div>
        </div>
        <table id="tableDetails">
            <thead>
                <tr>
                    <th> Session Date and Time </th>
                    <th> Overall Emotional Score </th>
                    <th> Further Details </th>
                </tr>
            </thead>
            <tbody>
                {% for session in allSessions %}
                <tr>
                    <td> {{ session.time_of_session }} </td>
                    <td> {{ session.emotional_score }} </td>
                    <td>
                        <a href="{{ url_for('main.specific', id=session.id) }}">
                            <button type="button" class="btn btn-secondary">View Further Details</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <div class="card-group d-flex flex-wrap">
            <div class="card mb-3 d-inline-block" style="width: 18rem;">
                <h5 class="card-title">Your Most Recent Session: </h5>
                <canvas id="mostRecentSession" width="340" height="200"></canvas>
                <div class="card-body">
                    <h5 class="card-title">Date and Time of Session: </h5>
                    <h5> {{ latestSession.time_of_session }} </h5>
                    {% for emotion, count in recentSessionEmotions.items() %}
                    <p class="cardt-text"> There were {{ count }} instances of {{ emotion }} during this session.
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<h4> You currently have no session data related to your account for you to view. Please conduct at least one therapy
    session for data to appear here.</h4>

{% endif %}

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>

<script>
    var ctx = document.getElementById('mostRecentSession').getContext('2d');

    var sessionData = {{ recentSessionEmotions | tojson }};

    createPieChart(ctx, sessionData);

    $(document).ready(function () {
        $('#tableDetails').DataTable({
            searching: false,
            info: false,
            lengthChange: false,
            pageLength: 6
        });
    }); 
</script>

{% endblock %}