{% extends "base.html" %}
{% block head %}

<style>
    .wizard-step {
        display: none;
    }

    .wizard-step.active {
        display: block;
    }
</style>

{% endblock %}

{% block content %}

<h1>PHQ-9 Questionnaire</h1>

<form id="phq9Form" method="POST">
    {% for field in form %}
    {% if field.type == 'RadioField' %}
    <div class="wizard-step">
        <label>{{ field.label }}</label>
        {% for choice in field %}
        <div class="form-check">
            {{ choice(inline=True) }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</form>


<script>
    var currentStep = 0;
    var wizardSteps = document.querySelectorAll('.wizard-step');
    wizardSteps[currentStep].classList.add('active');

    document.getElementById('wizard-form').addEventListener('submit', function(event) {
        if (currentStep < wizardSteps.length - 1) {
            event.preventDefault();
            wizardSteps[currentStep].classList.remove('activate');
            currentStep++;
            wizardStepsp[currentStep].classList.add('active');
        }
    });
</script>

{% endblock %}