{% extends "base.html" %}
{% block title %} Previous Sessions {% endblock %}

{% block content %}

<h3> Previous Sessions </h3>

<div class="card-group d-flex flex-wrap">
    {% for session in sessions %}
    <div class="card mb-3 d-inline-block" style="width: 18rem;">
        <canvas id="pieChartCanvas{{ loop.index }}" width="340" height="200"></canvas>
        <div class="card-body">
            <h5 class="card-title">Data and Time of Session: {{session.time_of_session}}</h5>
            {% for emotion, count in emotion_data[loop.index-1]["emotions_count"].items() %}
            <p class="card-text">{{emotion}} ({{count}} instances)</p>
            {% endfor %}
            <a href="#" class="btn btn-primary">Review Session Details</a>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for ('static', filename='js/pieChart.js') }}"></script>

{% for data in emotion_data %}

<script>
    var ctx = document.getElementById('pieChartCanvas{{ loop.index }}').getContext('2d');
    var sessionData = {{ data["emotions_count"] | tojson }};

    createPieChart(ctx, sessionData);
</script>

{% endfor %}

{% endblock %}